@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f3f4f6;
}

.delete-btn {
  background-color: rgb(159, 37, 37);
  font-size: 12px;
  color: white;
  padding: 0.525rem 0.725rem;
  border: none;
  border-radius: 10px;
}

.add-btn {
  padding: 0.525rem 0.725rem;
  background-color: #6366f1;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  border: none;
}

.update-btn {
  padding: 0.525rem 0.725rem;
  font-size: 12px;
  color: white;
  background-color: #f97316;
  border-radius: 10px;
  border: none;
}

.btn {
  padding: 0.525rem 0.725rem;
  font-size: 12px;
  border-radius: 10px;
}
